/* Fonts Import */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap');

/* Styling */
body,html {
    margin: 0; padding: 0; 
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    color: #707070;
}

body {
    background: rgb(54,0,51);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(54,0,51,1)), color-stop(50%, rgba(38,51,87,1)), to(rgba(11,135,147,1)));
    background: -webkit-linear-gradient(top, rgba(54,0,51,1) 0%, rgba(38,51,87,1) 50%, rgba(11,135,147,1) 100%);
    background: -o-linear-gradient(top, rgba(54,0,51,1) 0%, rgba(38,51,87,1) 50%, rgba(11,135,147,1) 100%);
    background: linear-gradient(180deg, rgba(54,0,51,1) 0%, rgba(38,51,87,1) 50%, rgba(11,135,147,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    max-width: 960px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

#game-container {
    display: none;
}

#window-warning {
    display: block;
    padding: 20px;
    background-color: #fff;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}

@media screen and (min-width: 960px) {

    #window-warning {
        display: none;
    }
    
    #game-container {
        display: block;
    }
    
    .panel {
        width: 50%;
        padding: 70px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        text-align: center;
        float: left;
        background-color: #f8f8f8;
    }
    
    .panel.active {
        background-color: #fff;
    }
    
    .player-name {
        position: relative;
        font-size: 3.8rem;
        font-weight: 100;
        text-transform: uppercase;
    }
    
    .panel.active .player-name {
        font-weight: 300;
    }
    
    .panel.active .player-name::before {
        position: absolute;
        top: -20px;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        display: block;
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: #360033;
    }
    
    .player-score {
        font-size: 12rem;
        font-weight: 100;
    }
    
    .panel.active .player-score {
        font-weight: 300;
    }
    
    .player-current-box {
        padding: 20px 40px;
        margin-top: 60px;
        background-color: #360033;
        display: inline-block;
        font-weight: 300;
        color: #fff;
    }
    
    .player-current-score {
        font-size: 5rem; 
    }
    
    .player-current-label {
        font-size: 2rem;
    }
    
    #game-controls {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .button {
        display: block;
        border: 0;
        margin: 10px auto;
        background: none;
        font-size: 2.2rem;
        font-weight: 300;
        color: #707070;
    }
    
    .button * {
        -webkit-transition: 0.3s ease all;
        -o-transition: 0.3s ease all;
        transition: 0.3s ease all;
    }
    
    .button:focus {
        outline: none;
    }
    
    .button:hover {
        cursor: pointer;
    }
    
    .button:hover > img {
        -webkit-transform: translateX(-2px);
            -ms-transform: translateX(-2px);
                transform: translateX(-2px);
    }
    
    .button:hover > span {
        -webkit-transform: translateX(2px);
            -ms-transform: translateX(2px);
                transform: translateX(2px);
    }
    
    .button img,
    .button span {
        display: inline-block;
        vertical-align: middle;
    }
    
    .button img {
        height: 23px;
        width: auto;
        margin-right: 5px;
    }
    
    #dice {
        display: block;
        margin: 20px auto;
    }

}